<% layout('./layouts/boilerplate.ejs') %>

<a href="/csgo/reg">CS:GO Registration</a> <br>
<a href="/csgo/membs">Members</a> <br>
<a href="/csgo/teams">Teams</a> <br>
<a href="/csgopointstable">Points Table</a>
