<% layout('./layouts/boilerplate.ejs') %>

<form action="/csgo/edit/<%= tid %>" method = "POST">

    <div class = "mb-3">
        <label for="wins">Total Wins</label>
        <input type="text" id = "wins" name = "wins" placeholder="wins">
    </div>
    
    <div class = "mb-3">
        <label for="losses">Total Losses</label>
        <input type="text" id = "losses" name = "loss" placeholder="loss">
    </div>
    
    <div class = "mb-3">
        <label for="draws">Total Draws</label>
        <input type="text" id = "draws" name = "draws" placeholder="draws">
    </div>
    
    <div class = "mb-3">
        <label for="rp">Rounds Played</label>
        <input type="text" id = "rp" name = "roundsPlayed" placeholder="Rounds Played">
    </div>
    
    <div class = "mb-3">
        <label for="rw">Rounds Won</label>
        <input type="text" id = "rw" name = "roundsWon" placeholder="Rounds Won">
    </div>
    
    <div class = "mb-3">
        <label for="rl">Rounds Loss</label>
        <input type="text" id = "rl" name = "roundsLoss" placeholder="Rounds Loss">
    </div>

    <div class = "mb-3">
        <label for="rd">Rounds Difference</label>
        <input type="text" id = "rd" name = "roundsDiff" placeholder="Rounds Difference">
    </div>

    <div class = "mb-3">
        <label for="points">Points</label>
        <input type="text" id = "points" name = "points" placeholder="Points">
    </div>

    <button class = "btn btn-danger">Submit</button>
</form>