<% layout('./layouts/boilerplate.ejs') %>

    <h1 class="display-5 my-3 text-center">Valorant Registration</h1>

    <div class = "mx-5 my-3">
        <button id = "team" class = "btn btn-primary">Team</button>
        <button id = "owner" class = "btn btn-warning">Owner</button>
    </div>

    <!-- Form for team -->
    <div class="teamReg">
        <div class="container">
            <form action="/valo/reg/team" method = "POST" class="validated-form" novalidate id = "teamForm">
                <h1 class = "display-6 text-center">MEMBER</h1>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name = "pname" placeholder="NAME" required>
                </div>
                
                <div class="mb-3">
                    <label for="ign" class="form-label">IGN with code</label>
                    <input type="text" class="form-control" id="ign" name = "ign" placeholder="IGN" required>
                </div>
    
                <div class="mb-3">
                    <label for="rank" class="form-label">Current Season Rank</label>
                    <input type="text" class="form-control" id="rank" name = "rank" placeholder = "Rank" required>
                </div>
    
                <div class="mb-3">
                    <label for="bestRank" class="form-label">All Time Best Rank</label>
                    <input type="text" class="form-control" id="bestRank" name = "bestRank" placeholder = "Best Rank" required>
                </div>
    
                <div class="mb-3">
                    <label for="mainChar" class="form-label">Main Agent</label>
                    <input type="text" class="form-control" id="mainChar" name = "mainChar" placeholder = "Main Character" required>
                </div>
    
                <div class="mb-3">
                    <label for="mainWeapon" class="form-label">Main Weapon</label>
                    <input type="text" class="form-control" id="mainWeapon" name = "mainWeapon" placeholder = "Main Weapon" required>
                </div>
    
                <div class="mb-3">
                    <label for="secondaryWeapon" class="form-label">Secondary Weapon</label>
                    <input type="text" class="form-control" id="secondaryWeapon" name = "secondaryWeapon" placeholder = "Secondary Weapon" required>
                </div>
                
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
    
    <!-- Form for Owner -->
    <div class="ownerReg">
        <div class="container">
            <form action="/valo/reg/owner" method = "POST" class="validated-form" novalidate id = "ownerForm" enctype="multipart/form-data">
                <h1 class = "display-6 text-center">OWNER</h1>

                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control" id="username" name = "username" placeholder="Username" required>
                </div>
    
                <div class="mb-3">
                    <label for="teamName" class="form-label">Team Name</label>
                    <input type="text" class="form-control" id="teamName" name = "teamName" placeholder = "teamName" required>
                </div>
    
                <div class="mb-3">
                    <label for="ign" class="form-label">IGN</label>
                    <input type="text" class="form-control" id="ign" name = "ign" placeholder="IGN" required>
                </div>
    
    
                <div class="mb-3">
                    <label for="teamlogo" class="form-label">Team Logo</label>
                    <input type="file" class="form-control" id="teamLogo" name = "image" placeholder = "teamLogo" required>
                </div>
                
                <button type="submit" class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>

<script src="/javascripts/valoReg.js"></script>