<% layout('./layouts/boilerplate.ejs') %>

<a href="/valo/reg">Valorant Registration</a> <br>
<a href="/valo/membs">Members</a> <br>
<a href="/valo/teams">Teams</a> <br>
<a href="/valo/pointsTable">Points Table</a>