<% layout('./layouts/boilerplate.ejs') %>

    <h1 class="display-5 my-3 text-center">Enter your Email here</h1>

    <!-- Form for login -->
    <div class="container">
        <form action="/forgot-password" method = "POST" class="validated-form" novalidate>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name = "email" placeholder = "Email" required>
            <p class="lead">You will receive a mail with a link to reset password in few seconds or maybe minutes</p>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>