<% layout('./layouts/boilerplate.ejs') %>

    <h1 class="display-5 my-3 text-center">Login</h1>

    <!-- Form for login -->
    <div class="container">
        <form action="/reset-password?token=<%= token %>&id=<%= id %>" method = "POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password" name = "reseter" placeholder = "Password" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="password" name = "confirmReseter" placeholder = "Password" required>
            </div>

            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>