<% layout('./layouts/boilerplate.ejs') %>

    <h1 class="display-5 my-3 text-center">Enter OTP</h1>

    <!-- Form for login -->
    <div class="container">
        <form action="/verify-email?userID=<%= id %>" method = "POST" class="validated-form" novalidate>
            <input type="text" class="form-control" id="otp" aria-describedby="emailHelp" name = "otp" placeholder = "4 digit OTP" required>
            <p class="lead">You will be having a 4 digit otp on your email address. Please enter it above</p>
            <button type="submit" class="btn btn-primary">Continue</button>
        </form>
    </div>